/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Resert finished */


:root {
	--back-color: #ffeedf;
	--front-color: #145434;
  }
  
body {
	display: flex;
	flex-direction: column;
	background-color: var(--back-color);
	color: var(--front-color);
	font-family: 'Space Grotesk', sans-serif;
	
	header {
		display: flex;
		justify-content: space-between;
		min-height: 60px;
		width: 100%;
		border-bottom: 2px solid var(--front-color);
		padding: 10px 20px;
		
		p {
			font-size: 36px;
			font-weight: 700;
		}

		span.material-icons {
			font-size: 36px;
		}

	}

	div#cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 60px;
		margin: 0 auto;
		padding: 60px 40px;
		max-width: 1200px;

		div.beer {
			position: relative;
			
			div.preview {
				display: flex;
				flex-direction: column;
				// justify-content: space-between;
				background-color: var(--front-color);
				color: var(--back-color);
				width: 400px;
				height: 250px;
				padding: 30px 40px;

				p.title {
					height: 100px;
					border-bottom: 1px solid var(--back-color);
					font-size: 36px;
					line-height: 45px;
				}

				div.type {
					margin-top: 10px;

					p {
						font-size: 18px;
						line-height: 24px;
					}

					p.text {
						font-weight: bold;
					}
				}
			}
				
			div.no {
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				border: 2px solid var(--front-color);
				background-color: var(--back-color);
				top: 0;
				left: 0;
				transform: translate(-50%, -50%);
				
				p {
					color: var(--front-color);
					font-size: 24px;
				}
			}

			button {
				position: absolute;
				width: 200px;
				height: 50px;
				right: 0;
				bottom: 0;
				background-color: var(--back-color);
				color: var(--front-color);
				border: 2px solid var(--front-color);
				padding: 10px;
				transform: translate(10px, 10px);

				p.buttonText {
					display: inline-block;
					font-weight: 700;
					font-size: 14px;

				}

				p.buttonIcon {
					display: inline-block;
					position: absolute;
					right: 5px;
					top: 25px;
					transform: translateY(-50%);

					.material-icons {
						font-size: 36px;
					}
				}
			}

			button:hover {
				background-color: var(--front-color);
				color: var(--back-color);
				border-color: var(--back-color);
				}
			}
		}
	}
